@use 'variable';

@mixin display($type, $justify, $align, $direction: row) {
  display: $type;
  justify-content: $justify;
  align-items: $align;
  flex-direction: $direction;
}

@mixin background($image) {
  background-image: url($image);
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center;
}

@mixin no-select() {
  -webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none; 
}

@mixin fonts($family, $size: 1rem, $weight: 400) {
  font-family: $family;
  font-size: $size;
  font-weight: $weight;
}

@mixin animation($name, $duration, $timing: linear, $repeat) {
  animation: $name $duration $timing $repeat;
  -webkit-animation: $name $duration $timing $repeat;
  -o-animation: $name $duration $timing $repeat;
  -moz-animation: $name $duration $timing $repeat;
  -webkit-animation: $name $duration $timing $repeat;
}